* {
    margin: 0;
    padding: 0;
    box-sizing: border-box    
}

:root {
    --App-theme: linear-gradient(to left, rgba(64, 150, 237, 1) 25%, rgb(130, 182, 233)75%);
    --font1: 'Segoe UI',system-ui, sans-serif;
}

body {
    width: auto;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    color: black;
}

.calculator-wrapper {
    position: relative;
    background: var(--App-theme);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}